@import "tailwindcss";

:root {
  --background: #ffffff;
  --elements-background: #ffffff;
  --foreground: #1F2128;
  --blue: #246AF6;
  --light-blue: #5087F8;
  --yellow: #FFCE22;
  --light-yellow: #FFD84D;
}

* {
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
}


.checklist-container {
  padding: 10px 0px;
  border: 1px solid #eeeeee;
  border: none;
  border-radius: var(--radius-md);
  background-color: var(--elements-background);
  /* width: fit-content;
  height: fit-content; */
  box-shadow: 0px 8px 15px 0px #1414141F,0px 0px 4px 0px #1414141A, inset 0px 0px 0px 1px #eeeeee;
}

.checklist-container ul, .checklist-container li {
  padding-inline-start: 0;
  unicode-bidi: inherit;
}

.checklist-container li {
  list-style: none;
  height: 42px;
  width: 370px;
}

.checklist-container li span {
  margin-left: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.checkbox-wrapper {
  display: flex;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

.checkbox-wrapper input[type="checkbox"] + .checkbox-box {
  width: 23px;
  height: 23px;
  border-radius: var(--radius-md);
  background-color: var(--elements-background);
  opacity: 0.6;
  border: 1px solid #cdcdcd;
  display: flex;
  justify-content: center;
  color: transparent;
}

.checkbox-wrapper:hover input[type="checkbox"] + .checkbox-box {
  opacity: 1;
  border: 1px solid #BDBDBD;
  color: #E3E3E3;
}

.checkbox-wrapper.pressed input[type="checkbox"] + .checkbox-box {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(36, 106, 246, 0.1);
  color: #878787;
}


.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-box {
  opacity: 1;
  background-color: var(--blue);
  border: none;
  color: #FFFFFF;
}

.checkbox-wrapper:hover input[type="checkbox"]:checked + .checkbox-box {
  background-color: var(--light-blue);
}

.checkbox-wrapper.pressed input[type="checkbox"]:checked + .checkbox-box {
  box-shadow: 0 0 0 3px rgba(36, 106, 246, 0.1);
  background-color: var(--blue);
  color: #ffffff;
}

.checkbox-box > .checkbox-checkmark {
  top: 5.52px;
  position: relative;
}

.separator {
  width: 100%;
  color: #cdcdcd;
  /* height: 0; */
  /* border: 0.7px solid #cdcdcd;
  border-radius: 9999px; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  width: 340;
  height: 40;
  border-radius: var(--radius-sm);
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;

  background-color: var(--yellow);

  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.btn:hover {
  background-color: var(--light-yellow);
}

.btn.pressed {
  background-color: var(--yellow);
}

